.privacy_sec {
    display: flex;
    flex-direction: column;
    gap: 15px;

    a {
        text-decoration: none;
    }

    .head {
        font-size: 22px;
        font-weight: 400;
        font-family: var(--lato);
        color: #1A1A1A;
        margin-bottom: 0;
    }

    .para {
        font-size: 16px;
        font-weight: 500;
        font-family: var(--lato);
        color: #737373;
        margin-bottom: 0;
    }

    .span {
        font-size: 16px;
        font-weight: 500;
        font-family: var(--lato);
        color: #1A1A1A;
    }

    .list {
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .para {
            font-size: 16px;
            font-weight: 500;
            font-family: var(--lato);
            color: #737373;
        }
    }
}