.policy {
    padding-bottom: 60px;

    .headings {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        background-color: #1A1A1A;
        padding: 36px 0px;
        width: 100%;
        margin-bottom: 60px;

        .title {
            font-size: 1.9rem;
            font-weight: 400;
            font-family: var(--lato);
            color: #fff;
            margin-bottom: 0;
        }

        .date {
            font-size: 16px;
            font-weight: 400;
            font-family: var(--lato);
            color: #fff;
            margin-bottom: 0;
        }
    }

    .sidebar {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border: 1px solid #E0E0E2;
        padding: 20px 15px;

        .items {
            padding: 8px 0px 8px 10px;
            cursor: pointer;

            .text {
                font-size: 16px;
                font-weight: 600;
                font-family: var(--lato);
                color: #737373;
                text-decoration: none;
                width: 100%;
                display: block;
            }
        }

        .active {
            border-radius: 2px;
            border-left: 3px solid #516b6a;
            background: rgba(255, 147, 0, 0.08);
            padding: 10px 20px;
            cursor: pointer;

            .text {
                color: #516b6a;
                font-size: 16px;
                font-weight: 600;
                font-family: var(--lato);
                text-decoration: none;
                width: 100%;
                display: block;
            }
        }
    }

}