.payment_sec {
    padding: 30px 0px;

    .payment_desc
    {
        background-color: #fff;
        box-shadow: 0px 4px 70px 0px rgba(50, 50, 71, 0.03), 0px 4px 40px 0px rgba(50, 50, 71, 0.05);
        border-radius: 20px;
        padding: 30px 45px;
    }

    .main_headding
    {
      
    font-size: 1.9rem;
    font-weight: 400;
    margin-bottom: 30px;
        color: #526b67;
        text-align: center;
    }

    .card_box {
        padding-bottom: 20px;
        border-bottom: 2px solid rgba(0,0,0,.1);

        .image {
            position: relative;
            width: 100%;
            height: 250px;

            img 
            {
                object-fit: cover;
              
                
            }
        }

        .main_content {
            display: flex;
            flex-direction: column;
            gap: 20px;
         padding: 25px 0px 0px 20px;

            .top_sec {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .info {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    a {
                        text-decoration: none;
                    }

                    .heading {
                        font-size: 22px;
                        font-weight: 500;
                        font-family: var(--lato);
                        color: #516b6a;
                        margin-bottom: 0;
                    }

                    .location {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 10px;

                        svg {
                            font-size: 18px;
                            color: #737373;
                        }

                        .name {
                            font-size: 15px;
                            font-weight: 400;
                            font-family: var(--lato);
                            color: #737373;
                            margin-bottom: 0;
                        }
                    }
                }

                .button {
                    .btn1:global(.btn) {
                        background-color: transparent;
                        border-color: #959595;
                        padding: 12px 30px;
                        border-radius: 0;
                        font-size: 18px;
                        font-weight: 400;
                        font-family: var(--lato);
                        color: #737373;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 10px;
                    }
                }

            }

            .middle_sec {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 22px;

                .right_arrow
                {
                    color: #516b6a;
                }

                .check {
                    display: flex;
                    flex-direction: column;
                    gap: 2px;
                    position: relative;

                    .title {
                        font-size: 13px;
                        font-weight: 500;
                        font-family: var(--lato);
                        color: #737373;
                    }

                    .day {
                        font-size: 16px;
                        font-weight: 600;
                        font-family: var(--lato);
                        color: #848484;

                        span
                        {
                            font-weight: 500;
                        }
                        
                    }

                  
                }

                .total_day {
                    font-size: 12px;
                    font-weight: 600;
                    font-family: var(--lato);
                    color: #84818E;
                    margin-bottom: 0;
                    border: 2px solid rgba(0,0,0,.1);
                    border-radius: 14px;
                    padding: 4px 10px;
                }

                // .check::before {
                //     position: absolute;
                //     content: '';
                //     width: 1px;
                //     height: 100%;
                //     background-color: #737373;
                //     top: 0;
                //     left: -12px;
                // }

                // .check:first-child {
                //     &::before {
                //         display: none;
                //     }
                // }
            }

           

            .avail_info {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 20px;

                .avail {
                    font-size: 15px;
                    font-weight: 400;
                    font-family: var(--lato);
                    color: #737373;
                    margin-bottom: 0;
                }
            }

            .bottom_sec {
                display: flex;
                flex-direction: column;
                gap: 8px;

                .price {
                    font-size: 24px;
                    font-weight: 500;
                    font-family: var(--lato);
                    color: #516b6a;
                    margin-bottom: 0;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 4px;

                    .days {
                        font-size: 12px;
                        font-weight: 400;
                        font-family: var(--lato);
                        color: #737373;
                    }
                }

                .total_day {
                    font-size: 13px;
                    font-weight: 400;
                    font-family: var(--lato);
                    color: #84818E;
                    margin-bottom: 0;
                }
            }
        }
    }

    .room_booked
    {

        padding: 25px  0px;
        border-bottom: 2px solid rgba(0,0,0,.1);

        .room_name
        {
            font-size: 18px;
            font-weight: 500;
            color: #516b6a;
            margin-bottom: 5px;
        }
        .list {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: column;

            .item {
                // display: flex;
                // flex-direction: row;
                // justify-content: space-between;
                // align-items: flex-end;
                margin-bottom: 15px;
                padding-left: 0px;

                .heading {
                    font-size: 16px;
                    font-weight: 500;
                    font-family: var(--lato);
                    color: #737373;
                }

                .title {
                    font-size: 13px;
                    font-weight: 500;
                    font-family: var(--lato);
                    color: #737373;
                    display: flex;
                    align-items: center;
                    gap: 3px;
                    padding-left: 10px;
                }

               
            }
        }

        .edit_rooms
        {
            padding: 0px 0px 5px 0px;
            font-size: 18px;
            font-weight: 600;
            font-family: var(--lato);
            color: #737373;
            background-color: transparent;
            border: none;
        
            position: relative;

            svg
            {
                font-size: 22px;
            }

            &::after
            {
                content: '';
                position: absolute;
                width: 90%;
                height: 2px;
                background-color: #747474;
                bottom: 0;
                left: 22px;
            }

            &:hover
            {
                color: #516b6a;
                transition: all 0.4s ease;

                &::after
                {
                    background-color: #516b6a;
                }
            }
            
        }
    }

    .noborder
    {
        border: none!important;
        padding: 0px!important;
    }

    .pay_now {
        // margin: 30px 0px;
        padding: 25px 0px 0px 0px;
        // border-bottom: 1px solid #ccc;

        .pay_info {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .title {
                font-size: 24px;
                font-weight: 500;
                font-family: var(--lato);
                color: #516b6a;
                margin-bottom: 20px;
                border-left: 2px solid #516b6a;
                padding: 5px 0px 5px 10px;
            }

            .check:global(.form-check-input) {
                border-color: #737373;
            }

            .check:global(.form-check-input:checked) {
                background-color: #516b6a;
                border-color: #516b6a;
            }

            .check:global(.form-check-input:focus) {
                box-shadow: none;
            }
        }

        .list {
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 5px;

            .item {
                font-size: 16px;
                font-weight: 400;
                font-family: var(--lato);
                color: #737373;
            }
        }

        .total_price {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid #E9E9E9;
            padding-top: 10px;
            margin-top: 20px;

            .title1 {
                font-size: 24px;
                font-weight: 500;
                font-family: var(--lato);
                color: #526b67;
            }

            .amount {
                display: flex;
                flex-direction: column;
                gap: 4px;
                font-size: 20px;
                font-weight: 500;
                font-family: var(--lato);
                color: #516b6a;

                .tax {
                    font-size: 12px;
                    font-weight: 400;
                    font-family: var(--lato);
                    color: #84818E;
                }
            }
        }
    }

    .form {
        margin-bottom: 0px;
        padding: 25px 0px;
        // border: 1px solid #ccc;
        .title {
            font-size: 24px;
            font-weight: 500;
            font-family: var(--lato);
            color: #516b6a;
            margin-bottom: 20px;
            border-left: 2px solid #516b6a;
            padding: 5px 0px 5px 10px;
        }


        .label {
            font-size: 15px;
            font-weight: 600;
            font-family: var(--lato);
            color: #1a1a1a;
            margin-bottom: 8px;
            text-transform: capitalize;
        }

        .form_control {
            border-radius: 2px;
            border: 1.333px solid #E0E0E2;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 16px;
            font-weight: 400;
            font-family: var(--lato);
            color: #959595;
        }

        .form_control:global(.form-control:focus) {
            box-shadow: none;
        }
    }

    .cancel {
        padding: 0px 0px 25px  0px;
        // border: 1px solid #ccc;
        .title {
            font-size: 24px;
            font-weight: 500;
            font-family: var(--lato);
            color: #516b6a;
            margin-bottom: 20px;
            border-left: 2px solid #516b6a;
            padding: 5px 0px 5px 10px;
        }

        .item1 {
            font-size: 16px;
            font-weight: 500;
            font-family: var(--lato);
            color: #737373;
            margin-bottom: 0;

            .head {
                font-size: 16px;
                font-weight: 500;
                font-family: var(--lato);
                color: #1A1A1A;
            }

            a {
                color: #516b6a;
                font-size: 16px;
                font-weight: 600;
                text-decoration: underline !important;
                margin-left: 5px;
            }
        }

    }


    .price_box {
        background-color: #fff;
        box-shadow: 0px 4px 70px 0px rgba(50, 50, 71, 0.03), 0px 4px 40px 0px rgba(50, 50, 71, 0.05);
        border-radius: 20px;
        padding: 30px 35px;

        .head {
            font-size: 24px;
            font-weight: 600;
            font-family: var(--lato);
            color: #84818E;
            padding-bottom: 0px;
            // border-bottom: 1px solid #E4E4E4;
        }

        .list {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 14px;
            margin-top: 14px;

            .item {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-end;

                .heading {
                    font-size: 16px;
                    font-weight: 400;
                    font-family: var(--lato);
                    color: #737373;
                }

                .price {
                    font-size: 16px;
                    font-weight: 500;
                    font-family: var(--lato);
                    // color: #516b6a;
                    color: #219653;
                }
            }
        }

        .border_top
        {
            border-top: 1px solid #CECCD1;
        }

        .amount {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            // border-top: 1px solid #CECCD1;
            padding-top: 10px;
            margin-top: 14px;

            .text {
                display: flex;
                flex-direction: column;
                gap: 0px;

                .head1 {
                    font-size: 16px;
                    font-weight: 500;
                    font-family: var(--lato);
                    color: #737373;
                }
                .total_head1 {
                    font-size: 18px;
                    font-weight: 600;
                    font-family: var(--lato);
                    color: #737373;
                }

                .span {
                    font-size: 14px;
                    font-weight: 500;
                    font-family: var(--lato);
                    color: #959595;
                }

            
            }
            .discount {
                font-size: 16px;
                font-weight: 500;
                font-family: var(--lato);
                color: #f14959;
            }
        
            .total {
                font-size: 16px;
                font-weight: 500;
                font-family: var(--lato);
                // color: #516b6a;
                color: #219653;
            }

          
            .total_price_amt {
                font-size: 18px;
                font-weight: 600;
                font-family: var(--lato);
                // color: #516b6a;
                color: #219653;
            }
        }



        .check {
            margin: 14px 0px;

            .input:global(.form-check-input) {
                border-color: rgba(26, 26, 26, 1);
                border-radius: 0;
            }

            .input:global(.form-check-input:checked) {
                background-color: #516b6a;
                border-color: #516b6a;
            }

            .input:global(.form-check-input:focus) {
                box-shadow: none;
            }

            .label:global(.form-check-label) {
                font-size: 12px;
                font-weight: 400;
                font-family: var(--lato);
                color: #737373;

                .link {
                    color: #516b6a;
                    font-size: 12px;
                    font-weight: 400;
                    font-family: var(--lato);
                }
            }
        }

        .saving_amt
        {
            font-size: 14px;
            color: #f14959;
            font-weight: 500;
            margin-top: 10px;
            text-align: center;

            svg
            {
                font-size: 18px;
            }
        }

        .btn8:global(.btn) {
            background-color: #516b6a;
            border-color: #516b6a;
            border-radius: 0;
            font-size: 16px;
            font-weight: 500;
            font-family: var(--lato);
            color: #fff;
            width: 100%;
            padding: 10px 24px;

            &:hover
            {
                background-color: transparent;
                color: #516b6a;
                transition: all 0.4s;
            }
        }
    }
    .view_coupon_buttn
    {
    
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        background-color: #f2f2f2;
        border: none;
      
        margin: 0 auto;
        color: #219653;
        display: block;
        padding: 11px 10px;
        margin-top: 10px;

        svg
        {
        color: #219653;
        margin-right: 5px;
        }
    }
}

.coupon_modal
{
  .header
  {
    border:none!important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1.2rem;

    .coupon_gif
    {
        position: relative;
        width: 100px;
        height: 85px;
    }
    .title
    {
      font-size: 1.9rem;

    }

    button
    {
background-color: #e9edf1;
border: none;
padding: 5px;

svg
{
  font-size: 26px;
  color: #000;
}



    }
  }

  .modal_body
  {
    padding:0rem 1.2rem 1rem 1.2rem;

    .coupons_list
    {
      margin-top: 20px;


      h6
      {
        color: #1a1a1a;
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 15px;

        span
        {
          color: #747474;
          font-size: 14px;
          font-weight:500;
        }

      .terms
        {
            font-size: 14px;
            color: #938e8e;
            font-weight: 400;
        
        }
      }

      .coupon_item
      {
        border: 1px dashed #526b67;
        padding: 18px;
        border-radius: 5px;

        .name
        {
          font-size: 20px;
          font-weight: 500;
          color: #1a1a1a;
          display: flex;
          align-items: center;
          gap: 15px;
          margin-bottom: 8px;
  
        }
  
      
        .green_txt
        {
          color: #219653;
          font-size: 14px;
          font-weight: 600;
          margin-bottom: 0px;
        }
  
        .coupon_desc
        {
          font-size: 15px;
          color: #716e6e;
          margin-bottom: 8px;
        }
  
        .expiry_date
        {
         
          font-size: 15px;
          color: #938e8e;
          font-weight: 500;
          margin-bottom: 0;
        }

    
  
        .apply_buttn
        {
          background-color: #516b6a;
          color: #fff;
          border-radius: 0px;
          text-transform: uppercase;
          border: 1px solid #516b6a;
          width: 80%;
          padding:8px 0px ;
          margin-left:30px;
      
          &:hover
          {
            background-color: transparent;
           color: #516b6a;
          }
        }
      }

    
    }

    .icons {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 20px;

      .info {
     display: flex;
     align-items: center;
     gap: 15px;

     svg
      {
        font-size: 18px;
      }

    

        .text {
          font-size: 14px;
          font-weight: 400;
          font-family: var(--lato);
          color: #737373;
        
        }
      }

  

   
    }

    .policies_box
    {
      padding: 1.2rem 0rem 0rem 0rem;
      .policy_head
      {
        color: #1a1a1a;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 8px;
      }

      .policy_info
      {
        color: #747474;
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 10px;
        span
        {
          color: #1a1a1a;
          font-weight: 600;
        }
      }

      .vm_buttn
      {
        color: #516b6a;
        background-color: transparent;
        border: none;
        font-weight: 600;
        font-size: 15px;
        text-align: left;
        padding: 0px;
        text-decoration: underline;
      }

      .descc
      {
        font-size: 14px;
        font-weight: 500;
        font-family: var(--lato);
        color: #747474;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .descc1
      {
        font-size: 14px;
        font-weight: 500;
        font-family: var(--lato);
        color: #747474;
        

      }
    }

    .form_control {
      border-radius: 2px;
      border: 1.333px solid #e0e0e2;
      padding-top: 12px;
      padding-bottom: 12px;
      font-size: 16px;
      font-weight: 400;
      font-family: var(--lato);
      color: #959595;
    }

    .form_control:global(.form-control:focus) {
      box-shadow: none;
    }
    .apply_buttnn
    {
      background-color: #516b6a;
      color: #fff;
      border-radius: 0px;
      text-transform: uppercase;
      border: 1px solid #516b6a;
      width: 100%;
      padding:10px 0px ;
  
      &:hover
      {
        background-color: transparent;
       color: #516b6a;
      }
    }

  }
}


// contact us modal

.modal {
  .header {
    padding: 28px 28px 36px 28px;
    border-bottom: none;

    .title {
      font-size: 30px;
      font-weight: 600;
      font-family:var(--lato);
      color: #1a1a1a;
      border-left: 2px solid #516b6a;
      padding-left: 10px;
    }
  }

  .body {
    padding: 0px 28px 30px 28px;

    .label {
      font-size: 18px;
      font-weight: 400;
      font-family: var(--lato);
      color: #000;
      margin-bottom: 3px;
    }

   

    .form_control {
      border-radius: 2px;
      border: 1.333px solid #e0e0e2;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 16px;
      font-weight: 400;
      font-family: var(--lato);
      color: #959595;
    }

    .form_control:global(.form-control:focus) {
      box-shadow: none;
    }

    .form {
      margin-bottom: 40px;

      .title {
          font-size: 24px;
          font-weight: 500;
          font-family: var(--lato);
          color: #516b6a;
          margin-bottom: 20px;
          border-left: 2px solid #516b6a;
          padding: 5px 0px 5px 10px;
      }


     

      .form_control {
          border-radius: 2px;
          border: 1.333px solid #E0E0E2;
          padding-top: 10px;
          padding-bottom: 10px;
          font-size: 16px;
          font-weight: 400;
          font-family: var(--lato);
          color: #959595;
      }

      .form_control:global(.form-control:focus) {
          box-shadow: none;
      }

     
  }

 
  }

  .footer {
    padding: 0px 28px 28px 28px;
    border-top: none;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .btn6 {
      border-radius: 2px;
      background: #fff;
      border-color: #526b6a;
      padding: 12px 50px;
      font-size: 20px;
      font-weight: 500;
      font-family: var(--lato);
      color: #526b6a;
      flex: 1 1;

   
    }

    .btn7 {
      border-radius: 2px;
      background: #516b6a;
      border-color: #516b6a;
      padding: 12px 50px;
      font-size: 20px;
      font-weight: 500;
      font-family: var(--lato);
      color: #fff;
      flex: 1;
    }
  }
}

@media only screen and (min-width:320px) and (max-width:767px) {
    .payment_sec
    {
        padding: 25px 10px 22px;
        background-color: #fff;
        box-shadow: 0px 4px 70px 0px rgba(50, 50, 71, 0.03), 0px 4px 40px 0px rgba(50, 50, 71, 0.05);
        border-radius: 35px;

        .main_headding
        {
            font-size: 22px;
        }

        .room_booked
        {
            padding:10px  0px;
            .list
            {
                .item
                {
                    .heading
                    {
                        font-size: 14px;
                        margin-bottom: 10px;
                    }

                    .title
                    {
                        margin-bottom: 0px;
                        font-size: 12px;
                    }
                }
            }

            .edit_rooms
            {
                font-size: 14px;
                       margin-top: 10px;
                       padding-bottom: 4px;
                       &::after
                       {
                        width: 85%;
                       }
                       svg
                       {
                        font-size: 16px;
                       }
            }
        }

      
        .payment_desc
        {
            padding: 0px;
            box-shadow: none;
        }
        .card_box
        {
            padding: 0px 0px 15px 0px!important;

            .image
            {
                height: 250px;
                margin-bottom: 15px;
            }


            .main_content
            {
                gap: 10px;
                padding:0px 10px 0px 10px;
    .top_sec
    {
        .info
        {
            gap:6px;
            .heading
            {
                font-size: 16px;
                font-weight: 500;
            }

            .location
            {
                gap: 6px;

                svg
                {
                    font-size: 16px;
                }
                .name
                {
                    font-size: 13px;
                }
            }
        }
    }

    .middle_sec
    {
        gap: 0px;
        justify-content: space-between;

      .check
      {
        .title
        {
            font-size: 10px;
        }

        .day
        {
            font-size: 12px;
        }
      }

      .total_day
      {
        font-size: 10px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    padding: 4px 8px;
      }

      .right_arrow
      {
        font-size: 11px;
      }
    }
            }

          
        }

        .pay_now
        {
           
            .pay_info
            {
                margin-bottom: 15px;
                .title
                {
                    font-size: 18px;
                    margin-bottom: 0px;
                }
            }

            .total_price
            {

                .title1
                {
                    font-size: 20px;
                }
                .amount
                {
                    gap: 0px;
                    font-size: 18px;
                }
            }

            .list
            {
                padding-left: 15px;

                .item
                {
                    font-size: 13px;
                }
            }
        }

        .form
        {
         padding: 15px 0px;
            .title
            {
                font-size: 18px;
            }

            .label
            {
                font-size: 15px;
                margin-bottom: 6px;
            }
        }

        .cancel
        {
            padding-bottom: 15px;
            .title
            {
                font-size: 18px;
                margin-bottom: 10px;
            }

            .item1
            {
                font-size: 13px;

                a
                {
                    
                    font-size: 14px;
                    font-weight: 600;
                    padding-left: 5px;
                
                }
            }
        }

        .price_box
        {
            margin-top: 15px;
            padding: 15px 10px;
            background-color: #f2f2f2;
            border-radius: 10px;

            .list
            {
                margin-top: 0px;

                .item
                {
                    align-items: center;

                    .heading
                    {
                        font-size: 14px;
                    }
                }
            }
            .head
            {
                font-size: 20px;
            }

            .amount
            {
                padding-top: 10px;
                margin-top: 5px;
                .text
                {
                    .head1
                    {
                       
                        font-weight: 500;
                    }
                }
            }

            .btn8:global(.btn)
            {
               
                font-size: 16px;
                font-weight: 500;
                padding: 11px 24px;
            }

        
        }
    }
    .view_coupon_buttn
    {
        background-color: #fff!important;
        font-size: 14px;
        padding: 8px 10px;

     
    }

    .coupon_modal
{
   
  .header
  {
   

    .coupon_gif
    {
        position: relative;
        width: 65px;
        height: 65px;
    }
    .title
    {
      font-size: 16px;

    }


  }

  .modal_body
  {
    

    .coupons_list
    {
   


      h6
      {
   
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 10px;

        span
        {
        
          font-size: 12px;
          font-weight:500;
        }

      .terms
        {
            font-size: 13px;
            color: #938e8e;
            font-weight: 400;
        
        }
      }

      .coupon_item
      {
        padding: 10px;

        .name
        {
          font-size: 18px;
  
        }
  
      
       
  
        .coupon_desc
        {
          font-size: 13px;
          margin-bottom: 8px;
        }
  
        .expiry_date
        {
         
          font-size: 13px;
          font-weight: 500;
          margin-bottom: 10px;
        }

    
  
        .apply_buttn
        {
            width: 40%;
            padding: 4px 0px;
            margin-left: 0px;
            font-size: 12px;
            margin-left: 0px;
      
       
        }
      }

    
    }

   


    .form_control {
      padding-top: 8px;
      padding-bottom: 8px;
      font-size: 14px;
      margin-bottom: 10px;


    }

   
    .apply_buttnn
    {

    padding: 8px 0px;
font-size: 14px;
    }

  }
}
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .payment_sec
    {
        padding: 25px 0px 22px;
        background-color: #fff;
        box-shadow: 0px 4px 70px 0px rgba(50, 50, 71, 0.03), 0px 4px 40px 0px rgba(50, 50, 71, 0.05);
        border-radius: 35px;

        .room_booked
        {
            padding:10px  0px;
            .list
            {
                .item
                {
                    .heading
                    {
                        font-size: 16px;
                        margin-bottom: 10px;
                    }

                    .title
                    {
                        margin-bottom: 0px;
                        font-size: 14px;
                    }
                }
            }
        }

      
        .payment_desc
        {
            padding: 0px;
            box-shadow: none;
        }
        .card_box
        {
            padding: 0px 0px 15px 0px!important;

            .image
            {
                
                margin-bottom: 10px;
            }


            .main_content
            {
                gap: 10px;
                padding: 10px;
    .top_sec
    {
        .info
        {
            gap:6px;
            .heading
            {
                font-size: 20px;
                font-weight: 500;
            }

            .location
            {
                gap: 6px;

                svg
                {
                    font-size: 16px;
                }
                .name
                {
                    font-size: 13px;
                }
            }
        }
    }

    .middle_sec
    {
        padding-bottom: 15px;
        gap: 10px;
        justify-content: space-between;

      .check
      {
        .title
        {
            font-size: 14px;
        }

        .day
        {
            font-size: 16px;
        }
      }

      .total_day
      {
        font-size: 12px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    padding: 4px 10px;
      }

      .right_arrow
      {
        font-size: 16px;
      }
    }
            }

          
        }

        .pay_now
        {
           
            .pay_info
            {
                margin-bottom: 15px;
                .title
                {
                    font-size: 20px;
                    margin-bottom: 0px;
                }
            }

            .list
            {
                padding-left: 15px;

                .item
                {
                    font-size: 13px;
                }
            }
        }

        .form
        {
         padding: 15px 0px;
            .title
            {
                font-size: 20px;
            }

            .label
            {
                font-size: 15px;
                margin-bottom: 6px;
            }
        }

        .cancel
        {
            padding-bottom: 15px;
            .title
            {
                font-size: 22px;
                margin-bottom: 10px;
            }

            .item1
            {
                font-size: 13px;

                a
                {
                    
                    font-size: 14px;
                    font-weight: 600;
                    padding-left: 5px;
                
                }
            }
        }

        .price_box
        {
            margin-top: 15px;
            padding: 25px 20px;
            background-color: #f2f2f2;
            border-radius: 10px;

            .list
            {
                margin-top: 0px;
            }
            .head
            {
                font-size: 20px;
            }

            .amount
            {
                padding-top: 10px;
                margin-top: 5px;
                .text
                {
                    .head1
                    {
                       
                        font-weight: 500;
                    }
                }
            }

            .btn8:global(.btn)
            {
               
                font-size: 16px;
                font-weight: 500;
                padding: 11px 24px;
            }

        
        }
    }
    .view_coupon_buttn
    {
        background-color: #fff!important;
        font-size: 14px;
        padding: 8px 10px;

     
    }

    .coupon_modal
    {
       
      .header
      {
       
    
        .coupon_gif
        {
            position: relative;
            width: 65px;
            height: 65px;
        }
        .title
        {
          font-size: 20px;
    
        }
    
    
      }
    
      .modal_body
      {
        
    
        .coupons_list
        {
       
    
    
          h6
          {
       
            font-weight: 600;
            font-size: 14px;
            margin-bottom: 10px;
    
            span
            {
            
              font-size: 12px;
              font-weight:500;
            }
    
          .terms
            {
                font-size: 13px;
                color: #938e8e;
                font-weight: 400;
            
            }
          }
    
          .coupon_item
          {
            padding: 10px;
    
            .name
            {
              font-size: 18px;
      
            }
      
          
           
      
            .coupon_desc
            {
              font-size: 13px;
              margin-bottom: 8px;
            }
      
            .expiry_date
            {
             
              font-size: 13px;
              font-weight: 500;
              margin-bottom: 10px;
            }
    
        
      
            .apply_buttn
            {
                width: 40%;
                padding: 4px 0px;
                margin-left: 0px;
                font-size: 12px;
                margin-left: 0px;
          
           
            }
          }
    
        
        }
    
       
    
    
        .form_control {
          padding-top: 8px;
          padding-bottom: 8px;
          font-size: 14px;
          margin-bottom: 10px;
    
    
        }
    
       
        .apply_buttnn
        {
    
        padding: 8px 0px;
    font-size: 14px;
        }
    
      }
    }
}
   
@media only screen and (min-width:768px) and (max-width: 991px){
    .payment_sec{
        padding: 20px 0 !important;
        .card_box{
            padding: 0 !important;
            .image{
                width: 100% !important;
                height: 350px !important;
            }
        }
    }
    .button .btn1:global(.btn) {
        padding:6px 30px !important;
        font-size: 15px;
    }
    .middle_sec {
        justify-content: space-between !important;
    }
    .mobilebotmfixed{
        position: fixed;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        
    }

   

}

@media only screen and (min-width:992px) and (max-width:1024px) {
    .payment_sec
    {
        padding: 20px 0px;
        background-color: #fff;
        box-shadow: 0px 4px 70px 0px rgba(50, 50, 71, 0.03), 0px 4px 40px 0px rgba(50, 50, 71, 0.05);
        border-radius: 35px;

        .room_booked
        {
            padding:10px  0px;
            .list
            {
                .item
                {
                    .heading
                    {
                        font-size: 16px;
                        margin-bottom: 10px;
                    }

                    .title
                    {
                        margin-bottom: 0px;
                        font-size: 14px;
                    }
                }
            }
        }

      
        .payment_desc
        {
            padding: 30px 25px;
            box-shadow: none;
        }
        .card_box
        {
            padding: 0px 0px 15px 0px!important;

            .image
            {
                
                margin-bottom: 10px;
            }


            .main_content
            {
                gap: 10px;
                padding: 10px;
    .top_sec
    {
        .info
        {
            gap:6px;
            .heading
            {
                font-size: 20px;
                font-weight: 500;
            }

            .location
            {
                gap: 6px;

                svg
                {
                    font-size: 16px;
                }
                .name
                {
                    font-size: 13px;
                }
            }
        }
    }

    .middle_sec
    {
        padding-bottom: 15px;
        gap: 10px;
        justify-content: space-between;

      .check
      {
        .title
        {
            font-size: 14px;
        }

        .day
        {
            font-size: 16px;
        }
      }

      .total_day
      {
        font-size: 12px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    padding: 4px 10px;
      }

      .right_arrow
      {
        font-size: 16px;
      }
    }
            }

          
        }

        .pay_now
        {
           
            .pay_info
            {
                margin-bottom: 15px;
                .title
                {
                    font-size: 20px;
                    margin-bottom: 0px;
                }
            }

            .list
            {
                padding-left: 15px;

                .item
                {
                    font-size: 13px;
                }
            }
        }

        .form
        {
         padding: 15px 0px;
            .title
            {
                font-size: 20px;
            }

            .label
            {
                font-size: 15px;
                margin-bottom: 6px;
            }
        }

        .cancel
        {
            padding-bottom: 15px;
            .title
            {
                font-size: 22px;
                margin-bottom: 10px;
            }

            .item1
            {
                font-size: 13px;

                a
                {
                    
                    font-size: 14px;
                    font-weight: 600;
                    padding-left: 5px;
                
                }
            }
        }

        .price_box
        {
            margin-top: 15px;
            padding: 25px 20px;
            background-color: #f2f2f2;
            border-radius: 10px;

            .list
            {
                margin-top: 0px;
            }
            .head
            {
                font-size: 20px;
            }

            .amount
            {
                padding-top: 10px;
                margin-top: 5px;
                .text
                {
                    .head1
                    {
                       
                        font-weight: 500;
                    }
                }
            }

            .btn8:global(.btn)
            {
               
                font-size: 16px;
                font-weight: 500;
                padding: 11px 24px;
            }

        
        }
    }
    .view_coupon_buttn
    {
        background-color: #fff!important;
        font-size: 14px;
        padding: 8px 10px;

     
    }
}

@media only  screen and (min-width:1200px) and (max-width:1440px) {
    .payment_sec
    {
.payment_desc
{
    padding: 30px 35px;
}

.card_box
{
    .image
    {
        height: 220px;
    }

    .main_content
    {
        gap: 15px;
        padding: 0px 0px 0px 0px;
    
    }
}
    }

    .coupon_modal
    {
        .header
        {
            .title
            {
                font-size: 1.6rem;
            }
        }
    }
}