

@media (max-width:768px) {

  .mySwiper1 .swiper-button-prev,
  .mySwiper1 .swiper-button-next {
    width: 35px;
    height: 35px;
    top: 45% !important;
  }

  .featurepropety.mySwiper1 .swiper-button-prev,
  .featurepropety.mySwiper1 .swiper-button-next {
    top: 50% !important;
  }

  .mySwiper1 .swiper-button-prev:after,
  .mySwiper1 .swiper-button-next:after {
    font-size: 20px !important;
  }

  .myswiper5 {
    min-height: unset !important;
    padding-bottom: 3rem !important;
  }

  .footer .d-flex {
    display: unset !important;
  }

  .tab_list.nav-tabs .nav-link.active,
  .tab_list.nav-tabs .nav-link {
    font-size: 1rem !important;
    padding-bottom: 5px!important;
  }

  .modal3 .modal-dialog {
    width: 100% !important;
  }

  .tabs.nav-tabs .nav-link.active,
  .tabs.nav-tabs .nav-link {
    font-size: 0.8rem !important;
    padding-bottom: 8px!important;

  }
}

@media only screen and (min-width:576px) and (max-width:767px) {
  .removep0_inmobile .gap-2 {
    gap: unset !important;
  }


}

@media only screen and (max-width:991px) {
  .desktopshow {
    display: none;
  }
}

@media (max-width:1199px) {

  .sticky-top.stickyzindex {
    z-index: 1 !important;
  }

  #myheader .headingmain {
    font-family: var(--lato);
  }


  .headersearbar {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .opensearchbardesktop {
    display: none;
  }

  .opensearchbarmobile {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    inset: 0;
    background-color: #fff;
    z-index: 9999;
    overflow: scroll;

  }

  .header {
    position: unset !important;
  }

  #myheader .navbar-toggler {
    border: none !important;
    box-shadow: none !important;
  }

  #myheader .navbar-toggler .navbar-toggler-icon {
    color: #fff !important;
    background-image: url(/menu.png) !important;
  }

  .column_reverse {
    flex-direction: column-reverse !important;
  }

  .removep0_inmobile .p-0 {
    padding: 0 0px !important;
  }


  .removep0_inmobile .gap-2 {
    gap: 1rem !important;
  }
  .gap0 {
    padding: 0;
  }

  .p-0.mobilepadingremove {
    padding: 15px !important;
  }

  .p-0.mt-4.mobilepadingremove {
    margin-top: 0 !important;
  }

  .fixed_bottombtn {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 10px 25px;
    border: 1px solid #cccccc36;
    z-index: 9999;
  }

  .btn.btn_check {
    background-color: #516b6a;
    width: 100%;
    color: #fff;
    padding: 10px 13px;
  }

  .primcemobilebotm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }

  .primcemobilebotm h3,
  .primcemobilebotm h6 {
    font-size: 1.1rem;
    font-family: var(--lato);
    color: #737373;
  }

  .slick1 .slick-track {
    gap: 5px !important;
  }

  .slick1 .slick-prev {
    right: 17%;
  }



  .mobileshow {
    display: block;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: scroll;
    padding-bottom: 8rem;


  }

  /* .fixedbtm_date{
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: 999999;

  } */


}

@media only screen and (min-width:1025px) and (max-width:1199px) {
  .opensearchbardesktop {
    display: none;
  }
  

}

.desktopshow
{
  position: relative;
  z-index: 9!important;
}