.detail_sec {
  .wrapper {
    width: 100%;
    position: relative;
  }

  .container {
    background-color: rgba(228, 228, 228, 1);
    width: 100%;
    height: 8px;
    border-radius: 4px;
  }

  .main_section {
    padding: 40px 0px 50px 0px;
    // margin-top: 8%;
    .gap2
    {
      gap: 2;
    }

    .images {
      position: relative;
      background-color: #fff;
      // overflow: hidden;

      .image {
        // position: relative;
        width: 100%;
        height: 271px;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 10px;
    
        img
        {
          transform: scale(1);
        transition: all 1s ease-in-out;
        overflow: hidden;
        border-radius: 10px;
        width:100%;
        height:100%;
        }
    
        &:hover
        {
          img
          {
            transform: scale(1.1);
        transition: all 1s ease-in-out;
          }
        }

       

       
      }

      .image1 {
        // position: relative;
        width: 100%;
        height: 550px;
        border-radius: 10px;
        overflow: hidden;


        img
        {
          transform: scale(1);
        transition: all 1s ease-in-out;
        overflow: hidden;
        border-radius: 10px;
        width: 100%;
        height:100%;
        }
    
        &:hover
        {
          img
          {
            transform: scale(1.1);
        transition: all 1s ease-in-out;
          }
        }


    
        
      }

      .btn2:global(.btn) {
        width: 13%;
        border-radius: 4px;
        border: 1px solid #516b6a;
        background-color: #516b6a;
        padding: 10px 20px;
        color: #fff;
        font-size: 15px;
        font-weight: 500;
        font-family: var(--lato);
        position: absolute;
        bottom: 3%;
    right: 1%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 14px;

        svg {
          font-size: 20px;
          color: #fff;
        }
      }
    }

    .main_contentsec {
      margin-top: 20px;

      .top_content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .detail {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .heading {
            font-size: 24px;
            font-weight: 500;
            font-family: var(--lato);
            color: #516b6a;
            margin-bottom: 0;
          }

          .location {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            svg {
              font-size: 20px;
              color: #737373;
            }

            .name {
              font-size: 18px;
              font-weight: 500;
              font-family: var(--lato);
              color: #737373;
              margin-bottom: 0;
            }
          }

          .rate {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            .star {
              vertical-align: top !important;
            }

            .review {
              font-size: 14px;
              font-weight: 400;
              font-family: var(--lato);
              color: #516b6a;
            }
          }
        }

        .btn3:global(.btn) {
          background-color: transparent;
          border-color: transparent;
          border-radius: none;
          padding: 0;

          svg {
            font-size: 2rem;
            color: #516b6a;
          }
        }
      }

      .middle_content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 25px 0px;
        padding-bottom: 16px;
        border-bottom: 1px solid #ddd;

        .images {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 30px;

          .info {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            background: #f3f3f3;
            padding: 10px 16px;

            .image {
              position: relative;
              width: 24px;
              height: 24px;
              margin-bottom: 0px!important;

              img {
                width: 100%;
                height: 100%;
              }
            }

            .text {
              font-size: 14px;
              font-weight: 400;
              font-family: var(--lato);
              color: #737373;
            }
          }
        }

        .price {
          display: flex;
          flex-direction: row;
          align-items: baseline;
          gap: 5px;
          font-size: 14px;
          font-weight: 400;
          font-family: var(--lato);

          .amount {
            font-size: 24px;
            font-weight: 600;
            font-family: var(--lato);
            color: #516b6a;
            margin-bottom: 0px;
          }
        }
      }

      .form {
        background-color: #f6f6f6;
        padding: 30px 40px;
        margin: 30px 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .contents {
          display: flex;
          flex-direction: column;
          gap: 14px;

          .heading {
            font-size: 24px;
            font-weight: 500;
            font-family:var(--lato);
            color: #1a1a1a;
            margin-bottom: 0;
          }

          .para {
            font-size: 16px;
            font-weight: 500;
            font-family: var(--lato);
            color: #737373;
            margin-bottom: 0;
          }
        }

        .button {
          .btn5:global(.btn) {
            background-color: #516b6a;
            border-color: #516b6a;
            padding: 11px 22px;
            border-radius: 0;
            font-size: 16px;
            font-weight: 500;
            font-family: var(--lato);
            color: #fff;

            &:hover
            {
              background-color: transparent;
              color: #516b6a;
              transition: all 0.4s ease;
            }
          }
        }
      }

      .slider {
        .title {
          font-size: 30px;
          font-weight: 600;
          font-family:var(--lato);
          color: #516b6a;
          border-left: 2px solid #516b6a;
          padding-left: 10px;
          margin-bottom: 30px;
        }

        .slide {
          .card_box {
            position: relative;

            .image {
              width: 100%;
              height: 260px;
              position: relative;

              img {
                width: 100%;
                height: 100%;
              }
            }

            .offer {
              font-size: 12px;
              font-weight: 400;
              font-family: var(--lato);
              color: #fff;
              position: absolute;
              top: 7px;
              right: 21px;
              z-index: 2;
              text-align: center;
            }
          }

          .card_box::before {
            content: "";
            position: absolute;
            background-image: url("/offer.png");
            background-size: 100% 100%;
            width: 50px;
            height: 95px;
            top: 0;
            right: 10px;
            z-index: 1;
          }

          .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            padding-top: 15px;

            a {
              text-decoration: none;
            }

            .heading {
              font-size: 18px;
              font-weight: 500;
              font-family: var(--lato);
              color: #516b6a;
              margin-bottom: 0;
            }

            .location {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              gap: 10px;

              svg {
                font-size: 18px;
                color: #1a1a1a;
              }

              .text {
                font-size: 20px;
                font-weight: 500;
                font-family:var(--lato);
                color: #1a1a1a;
              }
            }
          }

          .text1 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 10px;
            margin-bottom: 0;
            margin-top: 10px;

            .span1 {
              font-size: 14px;
              font-weight: 400;
              font-family: var(--lato);
              color: #000;
              position: relative;
            }

            .span1::before {
              content: "";
              position: absolute;
              top: 0;
              right: -6px;
              width: 1px;
              height: 100%;
              background-color: #000;
            }

            .span1:last-child {
              &::before {
                display: none;
              }
            }
          }

          .price {
            font-size: 18px;
            font-weight: 400;
            font-family: var(--lato);
            color: #000;
            margin-bottom: 0;
            margin-top: 14px;
            display: flex;
            flex-direction: row;
            align-items: baseline;
            justify-content: center;
            gap: 10px;

            .cutprice {
              font-size: 18px;
              font-weight: 400;
              font-family: var(--lato);
              color: #979797;
              text-decoration: line-through;
            }

            .mainprice {
              font-size: 20px;
              font-weight: 500;
              font-family: var(--lato);
              color: #516b6a;
            }
          }

          .info {
            border-radius: 2px;
            background-color: rgb(239 239 239);
            padding: 4px 2px;
            font-size: 14px;
            font-weight: 400;
            font-family: var(--lato);
            color: #1a1a1a;
            margin-bottom: 0;
            width: fit-content;
          }
        }
      }
    }

    .price_box {
      // background: #fff;
      box-shadow: 0px 4px 70px 0px rgba(50, 50, 71, 0.03),
        0px 4px 40px 0px rgba(50, 50, 71, 0.05);
      padding: 16px;

      // .head {
      //   font-size: 24px;
      //   font-weight: 500;
      //   font-family: var(--lato);
      //   color: #516b6a;
      //   margin-bottom: 0;
      //   padding-bottom: 20px;
      
      // }

      .price_text {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        .text {
            font-size: 16px;
            font-weight: 600;
            font-family: var(--lato);
            // color: #716e6e;
            color: #1a1a1a;
        }

        .price {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            gap: 8px;
            margin-bottom: 0;
            font-size: 20px;
            font-weight: 500;
            font-family: var(--lato);
            color: #516b6a;

            .day {
                font-size: 11px;
                font-weight: 500;
                font-family: var(--lato);
                color: #716e6e;
            }
           
        }

        .rooms
        {
            font-size: 13px;
            font-weight: 500;
            font-family: var(--lato);
            color: #716e6e;
            margin-bottom: 0px;
        }
    }
      .heading {
        font-size: 20px;
        margin: 10px;
        font-weight: 400;
        font-family: var(--lato);
        color: #516b6a;
      }
      .group {
        margin-bottom: 10px;
        label {
          margin: 5px 5px 8px 5px;
          font-family: var(--lato);
          font-size: 0.9rem;
        }

        .input_group
        {
          input
          {
            font-size: 14px;
            padding: 12px;
          }
        }
      }

      .list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 14px;
        margin-top: 14px;

        .item {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .heading {
            font-size: 16px;
            font-weight: 400;
            font-family: var(--lato);
            color: #737373;
          }

          .price {
            font-size: 16px;
            font-weight: 400;
            font-family: var(--lato);
            color: #737373;
          }
        }
      }

      .coupon_box
      {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding:12px 10px;
        margin-top: 10px;
        margin-bottom: 15px;
        border: 1px solid #e5e5e5;
        background-color: #fff;
        

       
        .coupon_txt
        {
          font-size: 16px;
          font-weight: 500;
          color: #1a1a1a;
          display: flex;
          align-items: center;
          gap: 8px;
          margin-bottom: 0px;

          .icn
          {
            color: #219653;
            font-size: 20px;
          }

        }

        .c_apply
        {
          color: #516b6a;
          font-size: 16px;
          font-weight: 500;
          cursor: pointer;
        }
        .c_green
        {
          color: #219653;
          font-size: 16px;
          font-weight: 600;
          background-color: transparent;
          border: none;
          padding: 0px;
          
        }
        .c_remove
        {
          color: #f66573;
          font-size: 18px;
          font-weight: 600;
          cursor: pointer;
        }
      }
      .view_coupon_buttn
      {
      
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        background-color: #f5f5f5 !important;
        border: none;
        // width: 35%;
        margin: 0 auto;
        color: #219653;
        display: block;
        padding: 8px 10px;

        svg
        {
          color: #219653;
          margin-right: 5px;
        }
      }

      .amount {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-top: 1px solid #ceccd1;
        padding-top: 10px;
        margin-top: 14px;



        .text {
          display: flex;
          flex-direction: column;
          gap: 6px;

          .head1 {
            font-size: 22px;
            font-weight: 500;
            font-family: var(--lato);
            color: #516b6a;
          }

          .span {
            font-size: 13px;
            font-weight: 400;
            font-family: var(--lato);
            color: #848484;
          }
        }

        .total {
          font-size: 22px;
          font-weight: 500;
          font-family: var(--lato);
          color: #516b6a;
        }
      }

      .check {
        margin: 14px 0px;

        .input:global(.form-check-input) {
          border-color: rgba(26, 26, 26, 1);
          border-radius: 0;
        }

        .input:global(.form-check-input:checked) {
          background-color: #516b6a;
          border-color: #516b6a;
        }

        .input:global(.form-check-input:focus) {
          box-shadow: none;
        }

        .label:global(.form-check-label) {
          font-size: 12px;
          font-weight: 400;
          font-family: var(--lato);
          color: #737373;

          .link {
            color: #516b6a;
            font-size: 12px;
            font-weight: 400;
            font-family: var(--lato);
          }
        }
      }

      .btn8:global(.btn) {
        background-color: #516b6a;
        border-color: #516b6a;
        border-radius: 0;
        font-size: 16px;
        font-weight: 500;
        font-family: var(--lato);
        color: #fff;
        width: 100%;
        padding: 10px 24px;

        &:hover
        {
          background-color: transparent;
          transition: all 0.4s;
          color: #516b6a;
          
        }
      }
    }

    .bg_gradient
    {
      background:linear-gradient(318deg,rgba(156,205,251,.4),hsla(31,95%,78%,.4));
    }
    .bg_gradient1
    {
      background:linear-gradient(318deg, rgb(183 209 209 / 54%), hsla(0, 0%, 88.4%, 0.43));
    }

    .location_box {
      background: #fff;
      box-shadow: 0px 4px 70px 0px rgba(50, 50, 71, 0.03),
        0px 4px 40px 0px rgba(50, 50, 71, 0.05);
      padding: 16px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-top: 20px;

      .heading {
        font-size: 20px;
        font-weight: 500;
        font-family:var(--lato);
        color: #516b6a;
        margin-bottom: 0;
      }

      .info_text {
        font-size: 16px;
        font-weight: 500;
        font-family: var(--lato);
        color: #1a1a1a;
        margin-bottom: 0;
      }

      .btn8:global(.btn) {
        background-color: #516b6a;
        border-color: #516b6a;
        border-radius: 0;
        font-size: 18px;
        font-weight: 600;
        font-family: var(--lato);
        color: #fff;
        width: 100%;
        padding: 14px 24px;
      }

      .suggestion {
        display: flex;
        flex-direction: column;
        gap: 14px;

        .place {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          .location {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
            font-size: 14px;
            font-weight: 400;
            font-family: var(--lato);
            color: #1a1a1a;

            svg {
              font-size: 18px;
              color: #516b6a;
            }
          }

          .time {
            font-size: 13px;
            font-weight: 400;
            font-family: var(--lato);
            color: #737373;
          }
        }
      }

      .location1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        font-size: 14px;
        font-weight: 400;
        font-family: var(--lato);
        color: #1a1a1a;

        svg {
          font-size: 18px;
          color: #516b6a;
        }
      }
    }
  }
}


// coupon list modal

.coupon_modal
{

  .coupon_gif
  {
    position: relative;
    width: 85px;
    height: 85px;
  }
  .header
  {
    border:none!important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0rem  1.2rem;
    .title
    {
      font-size: 1.5rem;
    font-weight: 500;
    padding-right: 60px;

    }

    button
    {
background-color: #e9edf1;
border: none;
padding: 5px;

svg
{
  font-size: 26px;
  color: #000;
}



    }
  }

  .modal_body
  {
    padding:0rem 1.2rem 1rem 1.2rem;

    .coupons_list
    {
      margin-top: 20px;
      height: 200px;
      overflow-y: scroll;
      padding-right: 15px;


      h6
      {
        color: #1a1a1a;
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 15px;

        span
        {
          color: #747474;
          font-size: 14px;
          font-weight:500;
        }

      .terms
        {
            font-size: 14px;
            color: #938e8e;
            font-weight: 400;
        
        }
      }

      .coupon_item
      {
        border: 1px dashed #526b67;
        padding: 15px;
        border-radius: 5px;
        margin-bottom: 12px;

        .name
        {
          font-size: 18px;
          font-weight: 500;
          color: #1a1a1a;
          display: flex;
          align-items: center;
          gap: 15px;
          margin-bottom: 5px;
  
        }
  
      
        .green_txt
        {
          color: #219653;
          font-size: 14px;
          font-weight: 600;
          margin-bottom: 0px;
        }
  
        .coupon_desc
        {
          font-size: 15px;
          color: #716e6e;
          margin-bottom: 5px;
        }
  
        .expiry_date
        {
         
          font-size: 15px;
          color: #938e8e;
          font-weight: 500;
          margin-bottom: 0;
        }

    
  
        .apply_buttn
        {
          background-color: #516b6a;
          color: #fff;
          border-radius: 0px;
          text-transform: uppercase;
          border: 1px solid #516b6a;
     width: 80%;
     margin-left: 30px;
          padding:8px 0px ;
       
      
          &:hover
          {
            background-color: transparent;
           color: #516b6a;
          }
        }
      }

    
    }

    .icons {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 20px;

      .info {
     display: flex;
     align-items: center;
     gap: 15px;

     svg
      {
        font-size: 18px;
      }

    

        .text {
          font-size: 14px;
          font-weight: 400;
          font-family: var(--lato);
          color: #737373;
        
        }
      }

  

   
    }

    .policies_box
    {
      padding: 1.2rem 0rem 0rem 0rem;
      .policy_head
      {
        color: #1a1a1a;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 8px;
      }

      .policy_info
      {
        color: #747474;
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 10px;
        span
        {
          color: #1a1a1a;
          font-weight: 600;
        }
      }

      .vm_buttn
      {
        color: #516b6a;
        background-color: transparent;
        border: none;
        font-weight: 600;
        font-size: 15px;
        text-align: left;
        padding: 0px;
        text-decoration: underline;
      }

      .descc
      {
        font-size: 14px;
        font-weight: 500;
        font-family: var(--lato);
        color: #747474;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .descc1
      {
        font-size: 14px;
        font-weight: 500;
        font-family: var(--lato);
        color: #747474;
        

      }
    }

    .form_control {
      border-radius: 2px;
      border: 1.333px solid #e0e0e2;
      padding-top: 12px;
      padding-bottom: 12px;
      font-size: 16px;
      font-weight: 400;
      font-family: var(--lato);
      color: #959595;
    }

    .form_control:global(.form-control:focus) {
      box-shadow: none;
    }
    .apply_buttnn
    {
      background-color: #516b6a;
      color: #fff;
      border-radius: 0px;
      text-transform: uppercase;
      border: 1px solid #516b6a;
      width: 100%;
      padding:10px 0px ;
  
      &:hover
      {
        background-color: transparent;
       color: #516b6a;
      }
    }

  }
}


// contact us modal

.modal {
  .header {
    padding: 20px 20px 25px 20px;
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font-size: 26px;
      font-weight: 600;
      font-family:var(--lato);
      color: #1a1a1a;
      border-left: 2px solid #516b6a;
      padding-left: 10px;
    }

    .close_buttnn
    {
      background-color: transparent;
      padding: 5px;
      color: #000!important;
      border: none!important;

      svg
      {
        color: #000!important;
        font-size: 24px;
      }
    }
  }

  .body {
    padding: 0px 28px 30px 28px;

    .label {
      font-size: 18px;
      font-weight: 400;
      font-family: var(--lato);
      color: #000;
      margin-bottom: 3px;
    }

   

    .form_control {
      border-radius: 2px;
      border: 1.333px solid #e0e0e2;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 16px;
      font-weight: 400;
      font-family: var(--lato);
      color: #959595;
    }

    .form_control:global(.form-control:focus) {
      box-shadow: none;
    }

    .form {
      margin-bottom: 40px;

      .title {
          font-size: 24px;
          font-weight: 500;
          font-family: var(--lato);
          color: #516b6a;
          margin-bottom: 20px;
          border-left: 2px solid #516b6a;
          padding: 5px 0px 5px 10px;
      }


     

      .form_control {
          border-radius: 2px;
          border: 1.333px solid #E0E0E2;
          padding-top: 10px;
          padding-bottom: 10px;
          font-size: 16px;
          font-weight: 400;
          font-family: var(--lato);
          color: #959595;
      }

      .form_control:global(.form-control:focus) {
          box-shadow: none;
      }

     
  }

 
  }

  .footer {
    padding: 0px 28px 28px 28px;
    border-top: none;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .btn6 {
      border-radius: 2px;
      background: #fff;
      border-color: #526b6a;
      padding: 12px 50px;
      font-size: 20px;
      font-weight: 500;
      font-family: var(--lato);
      color: #526b6a;
      flex: 1 1;

      &:hover
      {
        background-color: #526b6a;
        transition: all 0.4s ease;
        color: white;
      }


   
    }

    .btn7 {
      border-radius: 2px;
      background: #516b6a;
      border-color: #516b6a;
      padding: 12px 50px;
      font-size: 20px;
      font-weight: 500;
      font-family: var(--lato);
      color: #fff;
      flex: 1;

      
      &:hover
      {
        background-color: transparent;
        transition: all 0.4s ease;
        color: #526b6a;
      }
    }
  }
}

// Gallery modal

.offcanvas_bottom {
  height: 100vh !important;
  background-color: #fff!important;

  .modal_body:global(.modal-body)
  {
    padding: 0px!important;
  }

  .gallery_image
  {
    position: relative;
    width: 100%;
    height: 650px;

    margin-bottom: 20px;
    transition: all 1s ease-in-out;
    overflow: hidden;
    cursor: pointer;
    border-radius: 8px;

    img
    {
      transform: scale(1);
    transition: all 1s ease-in-out;
    overflow: hidden;
    border-radius: 8px;

    }

    &:hover
    {
      img
      {
        transform: scale(1.1);
    transition: all 1s ease-in-out;
      }
    }
  }

  .category_list
  {
    display: flex;
    align-items: center;
    // justify-content: center;
    margin: 20px 0px 10px 0px;
    gap: 8px;
    overflow-x: auto;
    padding-left: 0px!important;


  li
  {

    margin-bottom: 20px;
    
    
    .category_buttn {
      padding: 8px 16px;
      border-radius: 4px;
      border: 1px solid #516b6a;
      background: transparent;
      color: #516b6a;
      // min-width: 165px;
      font-size: 12.8px;
      text-transform: capitalize;
      
      
  
      &:hover
      {
        background-color: #516b6a;
        color: #fff!important;
          transition: all 0.4s;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
      }
  }
  }
  }

  .active
    {
      border: 1px solid #516b6a!important;
      background-color: #516b6a!important;
      color: #fff!important;
    }


  
}

.modal_body1
{
  padding: 0px 40px;
  position: relative;
  background-color: #1a1a1a;
}


.back_buttn1
{
  background: transparent;
  border: none;
  position: absolute;
  left: 5px;
  top: 20px;
  z-index: 99999 !important;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  svg
  {
    font-size: 24px;
    color: #fff;
    
  }
}
.close_buttn1
{
  background: transparent;
  border: none;
  position: absolute;
  right: 25px;
  top: 20px;
  z-index: 99999 !important;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  svg
  {
    font-size: 24px;
    color: #fff;
    
  }
}





.swiper_slidee
{
  padding: 30px 60px !important;
}


.swiper_space1
{

 
  .gallery_image1
  {
    position: relative;
    width: 100%;
    height: 800px;
    border-radius: 8px;

    img
    {
      border-radius: 8px;
    }
  }
}

.swiper_spaceg
{

 
  .gallery_image1
  {
    position: relative;
    width: 100%;
    height: 300px;
  }
}

@media only screen and (min-width:320px) and (max-width:767px) {
  .offcanvas_bottom
  {
    .gallery_image
    {
      height: 185px;
      margin-bottom: 8px;

      img
      {
        object-fit: cover;
      }
    }

    .category_list
    {
      display: flex;
      align-items: center;
      // justify-content: center;
      margin: 10px  0px;
      gap: 8px;
      overflow-x: auto;
      padding-left: 10px!important;
  
  
    li
    {
  
      margin-bottom: 10px;
      
      
      .category_buttn {
        padding: 8px 12px;
        // min-width: 165px;
        min-width: 100px;
        font-size: 12.8px;
        
        
   
    }
    }
    }
  
  }
 

  .modal_body1
  {
    height: 100%;
    padding: 0px 15px;
  }

  .swiper_space1
  {
    .gallery_image1
    {
      height: 300px;
    }
  }

  .swiper_slidee {
    padding: 30px 0px !important;
}

.detail_sec
{
  .main_section
  {
    .images
    {
      .image
      {
        height: 225px;
      }
    }
  }
}


}

@media (max-width: 991px){

  
  .price_box{
    padding: 10px 15px !important;
    .head{
      padding: 5px !important;
      font-size: 1rem !important;
      margin-bottom: 5px !important;
    }
  }
  .list{
    gap: 5px !important;
  }
  .headerclose{
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 10px;
    p{
      margin-bottom: 0;
    }
   
  }
  .btn8{
    margin-bottom: 1rem !important;
    font-size: 1rem !important;
    border-radius: 5px !important;
  }

  .btn8:hover{
    background-color: #fff !important;
    border: 2px solid #516b6a !important;
    color: #515151 !important;
  }

  .childressele{
    .data{
      display: flex;
      justify-content: space-between;
      .data{
        .info{
          .text{
            font-family: var(--lato);
          }
          p{
            font-family: var(--lato);
          }
        }
      }
    }
    .btn6{
      border: 1px solid #ccc;
      border-radius: 5px;
      // padding: 3px 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
        height: 30px;
        padding: 0;
        font-size: 1rem;
    }
  }

  
// contact us modal

.modal {
  .header {
    padding: 12px;
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font-size: 20px!important;
    }

   
  }

  .body {
    padding: 0px 15px 15px 15px;

    .label {
      font-size: 15px;
    }

   

    .form_control {
      padding-top: 8px;
      padding-bottom: 8px;
      font-size: 14px;
     
    }


   

    .form {
      margin-bottom: 25px;

      .title {
          font-size: 20px;
          margin-bottom: 20px;
          border-left: 2px solid #516b6a;
          padding: 5px 0px 5px 10px;
      }


     

      .form_control {
          border-radius: 2px;
          border: 1.333px solid #E0E0E2;
          padding-top: 10px;
          padding-bottom: 10px;
          font-size: 16px;
          font-weight: 400;
          font-family: var(--lato);
          color: #959595;
      }

      .form_control:global(.form-control:focus) {
          box-shadow: none;
      }

     
  }

 
  }

  .footer {
    padding: 0px 15px 15px 15px;
    border-top: none;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .btn6 {
      padding: 8px 20px;
      font-size: 14px;
    
   
    }

    .btn7 {
      padding: 8px 20px;
      font-size: 14px;
    }
  }
}

}

@media (max-width: 576px){

  .offcanvas_bottom
  {
    .gallery_image
    {
      height: 185px;
      margin-bottom: 8px;

      img
      {
        object-fit: cover;
      }
    }

    .category_list
    {
      display: flex;
      align-items: center;
      // justify-content: center;
      margin: 10px  0px;
      gap: 8px;
      overflow-x: auto;
      padding-left: 10px!important;
  
  
    li
    {
  
      margin-bottom: 10px;
      
      
      .category_buttn {
        padding: 8px 12px;
        // min-width: 165px;
        min-width: 100px;
        font-size: 12.8px;
        
        
   
    }
    }
    }
  
  }

  .detail_sec
  {
    .main_section
    {
      padding: 10px 0px 50px 0px;
      .images
      {
        .image1
        {
          height: 250px !important;
          img
          {
            border-radius: 20px;
            padding: 0px;
        
          }
        }

        .btn2:global(.btn) {
          width: fit-content !important;
          bottom: 8%!important;
          right: 8% !important;
          padding: 0.7rem 0.9rem !important;
          font-size: 0.7rem !important;
      
          svg {
            font-size: 1rem !important;
            color: #fff;
          }
        }
      }

      .price_box
      {
        .price_text
        {

          .price
          {
            gap: 5px;
    margin-bottom: 0;
    font-size: 20px;

    .day
    {
      font-size: 10px;
    }
          }
          .text
          {
            font-size: 14px;
            font-weight: 500;
          }
        }

        .btn8:global(.btn)
        {
          padding: 10px 24px;
        }

        .amount
        {

          .text
          {
            .head1
            {
              font-size: 20px;
            }
          }
          .total
          {
            font-size: 20px;
          }
        }
      }

      .main_contentsec
      {
        margin-top: 0px;
        .form
        {

          padding: 10px!important;
          .contents
          {

            .para
            {
              font-size: 13px;
            }
            .heading
            {
              font-size: 18px;
            }
          }

          .button
          {
             .btn5:global(.btn){
              padding: 6px 11px !important;
              font-size: 0.8rem !important;
            }
          }
        }

        .middle_content
        {
          margin: 15px 0px!important;

        
        }
      }
    }
  }
  .removep0_inmobile .gap-2
  {
    gap: 0!important;
  }
  .content
  {
    .body
    {
      margin-top: 15px;

      .list
      {
        .list_content
        {
          p
          {
            font-size: 14px;

            span
            {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  
  .coupon_modal
  {
    .modal_body
    {
      .form_control
      {
font-size: 13px;
      }
    }
  }

  
  .btn2:global(.btn) {
    width: fit-content !important;
    bottom: 14%;
    right: 8% !important;
    padding: 0.7rem 0.9rem !important;
    font-size: 0.5rem !important;

    svg {
      font-size: 1rem !important;
      color: #fff;
    }
  }
  .rate .review{
    background-color: #516b6a;
    color: #fff !important;
    padding: 3px 10px;
    font-size: 0.6rem !important;
  }
  .location .name {
      font-size: 0.8rem !important;
    }
    .location svg{
      font-size: 0.9rem !important;
    }
    .middle_content .images{
      flex-wrap: nowrap;
      gap: 10px !important;
      overflow-x: scroll;
    }
    .middle_content .images .info{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px !important;
      background: #f3f3f3;
      padding: 8px 5px !important;
      min-width: 120px !important;
      justify-content: center;
 
    }

    .middle_content .images .info .text
    {
      font-size: 10px!important;
    }
    .middle_content .images .info .image{
      width: 18px!important;
      height: 18px!important;
      margin-bottom: 0px !important;
 
    }
    .top_content .detail {
      gap: 5px !important;
      .heading{
        font-size: 1.25rem !important;
        
      }
    }
    .main_contentsec .form{
      padding: 20px !important;
      flex-direction: column !important;
      align-items: start !important;
      gap: 1rem !important;
    }
    .main_contentsec .form .btn5{
      padding: 6px 11px !important;
      font-size: 0.8rem !important;
    }
    .buttonsplue{
        display: flex;
        align-items: center;
        gap: 5px;
      } 
      
      .price_box .heading{
        margin: 0px 0 !important;
        font-size: 0.9rem !important;
      }
      .text1{
        margin-bottom: 0;
        font-family: var(--lato);
        font-size: 0.7rem;
      }
      .text{
        font-family: var(--lato);
        font-size: 0.9rem;
        margin-bottom: 0;
      }

}

@media only screen and (min-width:577px) and (max-width: 767px){
  .offcanvas_bottom
  {
    .gallery_image
    {
      height: 400px;
      margin-bottom: 8px;
    }

    .category_list
    {
      display: flex;
      align-items: center;
      // justify-content: center;
      margin: 10px  0px;
      gap: 8px;
      overflow-x: auto;
      padding-left: 10px!important;
  
  
    li
    {
  
      margin-bottom: 10px;
      
      
      .category_buttn {
        padding: 8px 12px;
        // min-width: 165px;
        min-width: 100px;
        font-size: 12.8px;
        
        
   
    }
    }
    }
  
  }
  .detail_sec
  {
    .main_section
    {
      padding: 10px 0px 50px 0px;
      .images
      {
        .image1
        {
          height: 250px !important;
          img
          {
            border-radius: 20px;
            padding: 10px;
        
          }
        }

        .btn2:global(.btn) {
          width: fit-content !important;
          bottom: 5%!important;
          right: 5% !important;
          padding: 0.7rem 0.9rem !important;
          font-size: 0.7rem !important;
      
          svg {
            font-size: 1rem !important;
            color: #fff;
          }
        }
      }

      .main_contentsec
      {
        margin-top: 0px;
      }
    }
  }
  .removep0_inmobile .gap-2
  {
    gap: 0!important;
  }
  .content
  {
    .body
    {
      margin-top: 15px;
    }
  }
  

  
  .btn2:global(.btn) {
    width: fit-content !important;
    bottom: 14%;
    right: 8% !important;
    padding: 0.7rem 0.9rem !important;
    font-size: 0.5rem !important;

    svg {
      font-size: 1rem !important;
      color: #fff;
    }
  }
  .rate .review{
    background-color: #516b6a;
    color: #fff !important;
    padding: 3px 10px;
    font-size: 0.6rem !important;
  }
  .location .name {
      font-size: 1rem !important;
    }
    .location svg{
      font-size: 0.9rem !important;
    }
    .middle_content .images{
      flex-wrap: wrap;
      gap: 7px !important;
    }
    .middle_content .info{
      background-color: #e3e3e3b3;
      padding: 6px 11px;
      border-radius: 3px;
    }
    .top_content .detail {
      gap: 5px !important;
      .heading{
        font-size: 1.5rem !important;
        font-weight: 400 !important;
      }
    }
    .main_contentsec .form{
      padding: 20px !important;
      flex-direction: column !important;
      align-items: start !important;
      gap: 1rem !important;
    }
    .main_contentsec .form .btn5{
      padding: 8px 11px !important;
      font-size: 0.9rem !important;
    }
    .buttonsplue{
        display: flex;
        align-items: center;
        gap: 5px;
      } 
      
      .price_box .heading{
        margin: 0px 0 !important;
        font-size: 0.9rem !important;
      }
      .text1{
        margin-bottom: 0;
        font-family: var(--lato);
        font-size: 0.7rem;
      }
      .text{
        font-family: var(--lato);
        font-size: 0.9rem;
        margin-bottom: 0;
      }

}


@media only screen and (max-width:991px) {
  .offcanvas_bottom
  {
    height: 100vh !important;
    padding-left: 0px !important;

  }

  .coupon_modal .modal_body .coupons_list .coupon_item .apply_buttnn {
    background-color: #516b6a;
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    border: 1px solid #516b6a;
    width: 100%;
    padding: 8px 0px;
    margin-left: 0px;
}


}

@media only screen and (min-width:768px) and (max-width:991px) {
  .detail_sec
  {
    .main_section 
    {
      padding-top: 20px;

      .main_contentsec
      {

        .middle_content
        {
          margin: 15px 0px;
        }
      }
      .images
      {
        .image1 {
          height: 450px;
      }

      .image
      {
        height: 218px;
      }

      .btn2:global(.btn)
  {
    padding: 10px 5px;
    color: #fff;
    font-size: 13px;
    width: 18%;
    gap: 10px;
    right: 5%;
  }
      }

      .main_contentsec
      {
        margin-top: 10px;
        .top_content 
        {
          .detail 
          {

            // .heading
            // {
            //   font-size: 24px;
            // }
            .location 
            {
              .name {
                font-size: 18px;
            }
            }
          }
        }
      }

      
    }
  }

  .offcanvas_bottom
{

  .gallery_image
  {
    height: 450px;
  }
}

.swiper_space1
{
  .gallery_image1
  {
    height: 530px;
  }
}


   
}

@media only screen and (min-width:992px) and (max-width:1024px) {
  .swiper_space1
{
  .gallery_image1
  {
    height: 630px;
  }
}
.detail_sec
{
.main_section
{
.images
{


  .btn2:global(.btn)
{
  padding: 10px 5px!important;
  color: #fff;
  font-size: 13px!important;
  width: 15%!important;
  gap: 10px!important;
}
}




  .price_box 
  {
    padding: 14px;
    .price_text
    {
      .price
      {
        gap: 5px;
        margin-bottom: 0;
        font-size: 17px;
      }
      .text
      {
        font-size: 13px!important;
      }
    }

    .group
    {
      .input_group
      {
        input
        {
          font-size: 11px;
          padding: 8px;
        }
      }
    }

    .amount
    {
      .text
      {
        .head1
        {
          font-size: 20px;
        }

        span
        {
          font-size: 12px;
        }
      }
      .total
      {
        font-size: 20px;
      }
    }

  }




.offcanvas_bottom
{
  .gallery_image
  {
    height: 450px;
    margin-bottom: 10px;
  }
}
.detail_sec
{
  .main_section
  {
    .price_box
    {
      .group
      {
        .input_group
        
        {
          input
          {
            font-size: 11px;
            padding: 5px;
          }
        }
      }
    }
  }
}

.detail_sec .main_section .price_box .view_coupon_buttn
{
  width:50%;
}
}
}

.coupon_modal
{
   
  .header
  {
   

    .coupon_gif
    {
        position: relative;
        width: 65px;
        height: 65px;
    }
    .title
    {
      font-size: 24px;

    }


  }

  .modal_body
  {
    

    .coupons_list
    {
   


      h6
      {
   
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 10px;

        span
        {
        
          font-size: 12px;
          font-weight:500;
        }

      .terms
        {
            font-size: 13px;
            color: #938e8e;
            font-weight: 400;
        
        }
      }

      .coupon_item
      {
        padding: 10px;

        .name
        {
          font-size: 18px;
  
        }
  
      
       
  
        .coupon_desc
        {
          font-size: 13px;
          margin-bottom: 8px;
        }
  
        .expiry_date
        {
         
          font-size: 13px;
          font-weight: 500;
          margin-bottom: 10px;
        }

    
  
        .apply_buttn
        {
            width: 70%;
            padding: 4px 0px;
            
            font-size: 12px;
   
      
       
        }
      }

    
    }

   


    .form_control {
      padding-top: 8px;
      padding-bottom: 8px;
      font-size: 14px;
      margin-bottom: 10px;


    }

   
    .apply_buttnn
    {

    padding: 8px 0px;
font-size: 14px;
    }

  }
}
}


@media only screen and (min-width:992px) and (max-width:1399px)
{
  .detail_sec
  {
.main_section
{
  .images
  {


    .btn2:global(.btn)
  {
    padding: 10px 10px;
    color: #fff;
    font-size: 13px;
    width: 14%;
    gap: 8px;
  }
  }


  .main_contentsec 
    {

      .top_content 
      {
        .detail 
        {
  
          // .heading
          // {
          //   font-size: 28px;
          // }
          .location 
          {
            .name {
              font-size: 20px;
          }
          }
        }
      }

      .middle_content 
      {
        .images {
          gap: 20px;
      }
      }

      .content 
      {
        .list 
        {
          .item {
            font-size: 14px;
            padding: 5px 10px;
        }
        }
      
      }

      .form
      {
        padding: 30px 20px;
      }
    }
}


  }


 
}

@media only screen  and (min-width:1200px) and (max-width:1280px){
  .swiper_space1
  {
    .gallery_image1
    {
      height: 600px;
    }
  }

  .swiper_slidee
{
  padding: 30px 60px !important;
}
}


@media only screen  and (min-width:1366px) and (max-width:1650px){
  .swiper_space1
  {
    .gallery_image1
    {
      height: 650px;
    }
  }

  .swiper_slidee
{
  padding: 30px 60px !important;
}
}



// new changes 01-07-2024
.inputchilder{
  font-family: var(--lato);
  font-size: 1rem;
}
.text1{
  font-family: var(--lato);
  font-size: 0.9rem;
}
.flexrowbetween{

display: flex;
justify-content: space-between;



  .buttonsplue{
    display: flex;
    align-items: center;
    // justify-content: center;
    gap: 10px;
    .btn6{
      border: 1px solid #ccc;
      border-radius: 5px;
      // padding: 3px 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      padding: 0;
      font-size: 1rem;
    }
  } 
}