.partner_sec {
    margin-top: 50px;
    background-image: url('/list_property.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 500px;
    position: relative;
    padding: 20px 0px;
    background-attachment: fixed;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    .content {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .heading {
            font-size: 32px;
            font-weight: 600;
            font-family: var(--lato);
            color: #fff;
            margin-bottom: 10px;
        }

        .para {
            font-size: 16px;
            font-weight: 400;
            font-family: var(--lato);
            color: #fff;
            margin-bottom: 20px;
            text-align: center;
        }
    }

    .box {
        display: flex;
        flex-direction: row;
        gap: 20px;
        position: relative;
        z-index: 2;

        .main_content {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px 35px;

            .image {
                width: 150px;
                height: 155px;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .title {
                font-size: 20px;
                font-weight: 500;
                font-family: var(--lato);
                color: #fff;
                margin-bottom: 10px;
            }

            .head {
                font-size: 16px;
                font-weight: 400;
                font-family: var(--lato);
                color: #fff;
                margin-bottom: 0;
                text-align: center;
            }
        }
    }

    .button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 40px;

        .btn1:global(.btn) {
            background-color: #1A1A1A;
            border-color: #1A1A1A;
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            font-family: var(--lato);
            border-radius: 0;
            position: relative;
            z-index: 2;
        }
    }



}