.partner_withus_sec
{
    position: relative;
    width: 100%;
    height: 650px;
    background-image: url('../../../../assets/images/partnerwithus/partnerwithus.webp');
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 2000px rgb(0 0 0 / 45%);

  .heading_box
{
    padding-top: 40%;
    .main_heading
    {
        font-size: 36px;
        font-weight: 400;
        font-family: var(--lato);
        color: #fff;
        margin-bottom: 0;
        line-height: 45px;
        letter-spacing: 0.5px;
        
    }
}

.j_c_sb
{
    justify-content: space-between;
}

.banner_form
{
    padding: 15px 25px;
    background-color: #fff;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.10);
margin-top: 10%;


    .form {
        .mb_4
        {
            margin-bottom: 20px;
        }
    
        .mt_1
        {
            margin-top: 15px;
        }

        .label {
            font-size: 16px;
    font-weight: 600;
    font-family: var(--lato);
    color: #161616;
    margin-bottom: 10px;
        }

     

       .form_heading
       {
        font-size: 22px;
        font-weight: 500;
        color: #516b6a;
 

       }

       .desc
       {
        font-size: 14px;
        color: #959595;
        font-weight: 400;
       }
       .bottom_heading
       {
        font-size: 22px;
        margin-bottom: 10px;
        font-weight: 500;
        color: #516b6a;

       }

       .desc
       {
        font-size: 15px;
        color: #959595;
       }

     

        .icon {
            position: relative;

            .form_control {
                border-radius: 2px;
                border: 1.333px solid #E0E0E2;
                padding-top: 10px;
                padding-bottom: 10px;
                font-size: 14px;
                font-weight: 500;
                font-family: var(--lato);
                color: #1A1A1A;
                resize: none;
                position: relative;
            }
      

            svg {
                position: absolute;
                top: 0.7rem;
                right: 0.9rem;
                font-size: 22px;
                color: rgba(149, 149, 149, 1);
            }
        }

        .form_control {
            border-radius: 2px;
            border: 1.333px solid #E0E0E2;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 16px;
            font-weight: 500;
            font-family: var(--lato);
            color: #1A1A1A;
            resize: none;
            position: relative;
        }

        .form_select {

            
      
            select
            {
             border-radius: 2px;
             border: 1.333px solid #E0E0E2;
             padding-top: 10px;
             padding-bottom: 10px;
             font-size: 14px;
             font-weight: 500;
             font-family: var(--lato);
             color: #585353;
             resize: none;
             position: relative;
            }
         }

        .form_control:global(.form-control:focus) {
            box-shadow: none;
        }
    select:focus {
            box-shadow: none;
        }

        .btn4:global(.btn) {
            background-color: #516b6a;
            border-color: #516b6a;
            border-radius: 2px;
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: 500;
            font-family: var(--lato);
            color: #fff;
            padding: 12px 0px;
            width: 100%;

            &:hover
            {
                background-color: transparent;
                color: #516b6a;
                transition: all 0.4s;
            }
        }
    }
}

 
}



@media  only  screen and (max-width:575px) {
    .partner_withus_sec
    {
        height: 500px;
        .heading_box
        {
            display: none;
        }
    }
}

@media only screen and (min-width:320px) and (max-width:767px) {
    .partner_withus_sec
    {
  min-height: 750px;

        .heading_box
        {
            padding-top: 8%;
            .main_heading
            {
                font-size: 24px;
                font-weight: 400;
                line-height: 30px;
                letter-spacing: 0.5px;
            }
          
        }

        .banner_form
        {
            margin-top: 8%;
            padding: 15px 10px;

            .form
            {
                .form_heading
                {
                    font-size: 20px;
                    font-weight: 400;
                    margin-bottom: 5px;
                }

                .desc
                {
                    font-size: 13px;
                
                }
            }

        
        }

     
    }

    .steps
    {
        padding: 25px 0px;
        .form
        {
            padding:15px;


            .form_select
            {
             select
             {
                 padding: 8px 10px;
                 font-size: 14px; 
                 margin-bottom: 15px;
             }
            }

            .main_headd
            {
                font-size: 21px;
                font-weight: 500;
                margin-bottom: 20px;
            }

            .mb_4
            {
                margin-bottom: 15px;
            }
            .form_heading
            {
                font-size: 18px;
                margin-bottom: 15px;
                font-weight: 500;
            }

            .label {
                font-size: 14px;
                margin-bottom: 10px;
            }

            .bottom_heading
            {
                font-size: 18px;
                margin-bottom: 10px;
            }
            .desc
            {
                font-size: 13px;
            }

           .form_control
           {
            padding: 8px 10px;
            font-size: 14px;
           }

           .icon
           {
            .form_control
           {
            padding: 8px 10px;
            font-size: 14px;
           }
           }

           .btn4:global(.btn)
           {
    margin-top: 15px;
    font-size: 16px;
    padding: 10px 0px;
    width: 100%;
           }

       
        }
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    .partner_withus_sec
    {
height: 630px;

        .heading_box
        {
            
            .main_heading
            {
                font-size: 24px;
                font-weight: 400;
                line-height: 30px;
                letter-spacing: 0.5px;
            }
          
        }

        .banner_form
        {
            margin-top: 8%;
            padding: 15px;

            .form
            {
                .form_heading
                {
                    font-size: 22px;
                    font-weight: 400;
                    margin-bottom: 5px;
                }

                .desc
                {
                    font-size: 12px;
                
                }
            }

        
        }

     
    }

    .steps
    {
        padding: 25px 0px;
        .form
        {
            padding:15px;


            .form_select
            {
             select
             {
                 padding: 8px 10px;
                 font-size: 14px; 
                 margin-bottom: 15px;
             }
            }

            .main_headd
            {
                font-size: 21px;
                font-weight: 500;
                margin-bottom: 20px;
            }

            .mb_4
            {
                margin-bottom: 15px;
            }
            .form_heading
            {
                font-size: 18px;
                margin-bottom: 15px;
                font-weight: 500;
            }

            .label {
                font-size: 14px;
                margin-bottom: 10px;
            }

            .bottom_heading
            {
                font-size: 18px;
                margin-bottom: 10px;
            }
            .desc
            {
                font-size: 13px;
            }

           .form_control
           {
            padding: 8px 10px;
            font-size: 14px;
           }

           .icon
           {
            .form_control
           {
            padding: 8px 10px;
            font-size: 14px;
           }
           }

           .btn4:global(.btn)
           {
    margin-top: 15px;
    font-size: 16px;
    padding: 10px 0px;
    width: 100%;
           }

       
        }
    }
}

